<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountManageLoginButtonTextColor</key>
	<string>255,255,255</string>
	<key>AccountManageRegisterButtonTextColor</key>
	<string>65,107,158</string>
	<key>ActionSheetStyle</key>
	<integer>0</integer>
	<key>AlternativeBackgroundColor</key>
	<string>235,242,252</string>
	<key>ComposeAlternativeTextColor</key>
	<string>172,179,184</string>
	<key>ComposeContentBackgroundColor</key>
	<string>255,255,255</string>
	<key>ComposeContentSegmentSelectedTextColor</key>
	<string></string>
	<key>ComposeContentSegmentUnSelectedTextColor</key>
	<string></string>
	<key>ComposeEmoticonPagecontrolSelectediOS7Color</key>
	<string></string>
	<key>ComposeEmoticonPagecontroliOS7Color</key>
	<string></string>
	<key>ComposeMainTextColor</key>
	<string>101,119,135</string>
	<key>ComposeMeyouTextColor</key>
	<string>241,75,61</string>
	<key>ComposeTabbarMaskColor</key>
	<string>230,220,217,0.4</string>
	<key>ComposeTabbarTextColor</key>
	<string>82,82,82</string>
	<key>ContentImageProgressBackgroundColor</key>
	<string>218,218,218</string>
	<key>ContentImageProgressTrackColor</key>
	<string>255,255,255</string>
	<key>DiscoverPageCardBackgroundColor</key>
	<string>242,242,242</string>
	<key>DiscoverPageControlCurrentDotColor</key>
	<string>0,0,0</string>
	<key>DiscoverPageControlDotColor</key>
	<string>170,170,170</string>
	<key>DraftErrorTextColor</key>
	<string>155,0,0</string>
	<key>EmptyTextShadowColor</key>
	<string>255,255,255,0.8</string>
	<key>EmptyTipAddMeyouTextColor</key>
	<string>255,255,255</string>
	<key>EmptyViewTextColor</key>
	<string>189,189,189</string>
	<key>EmptyViewTextShadowColor</key>
	<string>255,255,255</string>
	<key>FindFriendsAlternativeTextColor</key>
	<string>156,156,156</string>
	<key>FindFriendsMainTextColor</key>
	<string>50,50,50</string>
	<key>FriendsMeCategoryTextColor</key>
	<string>103,124,142</string>
	<key>FriendsMeCountTextColor</key>
	<string>78,87,98</string>
	<key>GroupAlternativeTextColor</key>
	<string>181,181,181</string>
	<key>GroupEditingPromptTextColor</key>
	<string>255,255,255</string>
	<key>GroupNameSelectedTextColor</key>
	<string>255,165,0</string>
	<key>GroupNameTextColor</key>
	<string>255,255,255</string>
	<key>GroupSectionHeaderBackgroundColor</key>
	<string>93,93,93</string>
	<key>GroupSectionHeaderShadowColor</key>
	<string>114,114,114</string>
	<key>GroupSectionHeaderTextColor</key>
	<string>51,51,51</string>
	<key>HomePopupCountTextColor</key>
	<string>255,255,255</string>
	<key>HomePopupSendFailedTextColor</key>
	<string>175,130,70</string>
	<key>HomePopupTextColor</key>
	<string>255,255,255</string>
	<key>HomeShowsBackgroundImageWhenPullRefreshing</key>
	<false/>
	<key>ImageBorderColor</key>
	<string>255,255,255</string>
	<key>ImageMaskColor</key>
	<string>0,0,0,0</string>
	<key>ImageShowsMask</key>
	<false/>
	<key>LoginViewAbroadTextColor</key>
	<string>136,136,136</string>
	<key>LoginViewAccountListSelectedColor</key>
	<string>244,244,244</string>
	<key>LoginViewAccountListSeparatorColor</key>
	<string>206,206,206</string>
	<key>LoginViewBackgroundColor</key>
	<string>248,248,248</string>
	<key>LoginViewButtonTextColor</key>
	<string>255,255,255</string>
	<key>LoginViewButtonTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>LoginViewRandomTextColor</key>
	<string>128,128,128</string>
	<key>LoginViewRegisterTextColor</key>
	<string>65,107,158</string>
	<key>LoginViewTextFieldDetailTextColor</key>
	<string>160,160,160</string>
	<key>LoginViewTextFieldTitleTextColor</key>
	<string>72,72,72</string>
	<key>LoginViewTextShadowColor</key>
	<string>255,255,255</string>
	<key>MainActionSheetBackgroundColor</key>
	<string>248,248,248</string>
	<key>MainActionSheetBackgroundHighlightedColor</key>
	<string>240,240,240</string>
	<key>MainAssistantTextColor</key>
	<string>50,150,60</string>
	<key>MainAvatarStrokeColor</key>
	<string>0,0,0,0.05</string>
	<key>MainBackgroundColor</key>
	<string>225,225,225</string>
	<key>MainButtonHighlightedTextColorForDeepColorButton</key>
	<string>238,238,238</string>
	<key>MainButtonShadowDisabledTextColorForDeepColorButton</key>
	<string>0,0,0,0.15</string>
	<key>MainButtonShadowDisabledTextColorForLightColorButton</key>
	<string>255,255,255,0.0</string>
	<key>MainButtonShadowTextColorForDeepColorButton</key>
	<string>0,0,0,0.35</string>
	<key>MainButtonShadowTextColorForLightColorButton</key>
	<string>255,255,255,0.0</string>
	<key>MainButtonTextColorForDeepColorButton</key>
	<string>255,255,255</string>
	<key>MainButtonTextColorForLightColorButton</key>
	<string>93,93,93</string>
	<key>MainButtonTitleColor</key>
	<string>255,255,255</string>
	<key>MainContentButtonDisabledTextColor</key>
	<string>146,146,146,0.4</string>
	<key>MainContentButtonTextColor</key>
	<string>146,146,146</string>
	<key>MainContentRetweetTextColor</key>
	<string>93,93,93</string>
	<key>MainContentSplitLineColor</key>
	<string>200,200,200</string>
	<key>MainContentSubtitleTextColor</key>
	<string>130,130,130</string>
	<key>MainContentTextColor</key>
	<string>51,51,51</string>
	<key>MainDisabledTextColor</key>
	<string>255,255,255,0.3</string>
	<key>MainFeedBackgroundColor</key>
	<string>230,230,230</string>
	<key>MainFeedCardBackgroundColor</key>
	<string>255,255,255</string>
	<key>MainFeedRetweetBackgroundColor</key>
	<string>248,248,248</string>
	<key>MainFeedSelectedBackgroundColor</key>
	<string>240,240,240</string>
	<key>MainFocusTextColor</key>
	<string>255,165,0</string>
	<key>MainHighlightDisabledTextColor</key>
	<string>225,65,35,0.4</string>
	<key>MainHighlightTextColor</key>
	<string>225,65,35</string>
	<key>MainHighlightedTextColor</key>
	<string>225,65,35</string>
	<key>MainLinkDisabledTextColor</key>
	<string>91,124,163,0.4</string>
	<key>MainLinkTextColor</key>
	<string>80,125,175</string>
	<key>MainPlaceholderTextColor</key>
	<string>184,184,184</string>
	<key>MainPromptTextColor</key>
	<string>244,136,0</string>
	<key>MainShadowTextColor</key>
	<string>0,0,0,0.3</string>
	<key>MainTextColor</key>
	<string>0,0,0</string>
	<key>MainWarningTextColor</key>
	<string>111,0,0</string>
	<key>MembershipNameTextColor</key>
	<string>244,98,0</string>
	<key>MessageConversationBoxTextLinkColor</key>
	<string>20,82,150</string>
	<key>MessageEmptyViewTextColor</key>
	<string>193,193,193</string>
	<key>MessageEmptyViewTextShadowColor</key>
	<string>250,250,250</string>
	<key>MessageInputTextViewBackgroundColor</key>
	<string>255,255,255</string>
	<key>MessageInputTextViewTextColor</key>
	<string>0,0,0</string>
	<key>MessageRecordButtonHighlightedTextColor</key>
	<string>219,219,219</string>
	<key>MessageRecordButtonHighlightedTextShadowColor</key>
	<string>0,0,0,0.2</string>
	<key>MessageRecordButtonTextColor</key>
	<string>51,51,51</string>
	<key>MessageRecordButtonTextShadowColor</key>
	<string>255,255,255,0.2</string>
	<key>MessageTimeTextColor</key>
	<string>172,172,172</string>
	<key>MessageTimeTextShadowColor</key>
	<string>255,255,255,0.75</string>
	<key>MessageWarningTextLinkColor</key>
	<string>20,82,150</string>
	<key>MessageWordsCountTextColor</key>
	<string>95,95,95</string>
	<key>MusicButtonShadowTextColorForLightColorButton</key>
	<string>255,255,255,0.75</string>
	<key>MusicButtonTextColorForLightColorButton</key>
	<string>93,93,93</string>
	<key>MusicContentButtonTextColor</key>
	<string>146,146,146</string>
	<key>MusicContentTextColor</key>
	<string>51,51,51</string>
	<key>MusicFeedBackgroundColor</key>
	<string>230,230,230</string>
	<key>MusicFeedBackgroundColor_ios7 </key>
	<string></string>
	<key>MusicNavigationBarTitleColor</key>
	<string>82,82,82</string>
	<key>NavigationBarButtonDisabledTextColor</key>
	<string>255,255,255,0.4</string>
	<key>NavigationBarButtonTextColor</key>
	<string>255,255,255</string>
	<key>NavigationBarButtonTitleColor</key>
	<string>255,255,255</string>
	<key>NavigationBarHighlightedTextColor</key>
	<string>250,130,0,0.4</string>
	<key>NavigationBarItemiOS7TintColor</key>
	<string>255,255,255</string>
	<key>NavigationBarSubtitleColor</key>
	<string>82,82,82</string>
	<key>NavigationBarTextColor</key>
	<string>250,130,0</string>
	<key>NavigationBarTitleColor</key>
	<string>255,255,255</string>
	<key>PageImageTextCardViewButtonTextColor</key>
	<string>255,120,0</string>
	<key>PageInfoPRLMPromptTextColor</key>
	<string>255,255,255</string>
	<key>PageInfoPRLMPromptTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>PageInfoTableViewBackgroundColor</key>
	<string>248,248,248</string>
	<key>PageInfoTableViewCellDescriptionLabelTextColor</key>
	<string>100,100,100</string>
	<key>PageInfoTableViewCellSelectedBackgroundGradientColorBottom</key>
	<string>235,237,240</string>
	<key>PageInfoTableViewCellSelectedBackgroundGradientColorTop</key>
	<string>223,225,228</string>
	<key>PageInfoTableViewCellTitleLabelTextColor</key>
	<string>133,144,158</string>
	<key>PageInputCardViewTextColor</key>
	<string>50,50,50</string>
	<key>PhotoLibraryCancelButtonTitleColor</key>
	<string>255,255,255,0.7</string>
	<key>PhotoLibraryCancelButtonTitleShadowColor</key>
	<string>0,0,0,0.5</string>
	<key>PhotoLibraryFlashButtonTitleColor</key>
	<string>0,0,0</string>
	<key>PhotoLibraryMainBackgroundColor</key>
	<string>248,248,248</string>
	<key>PhotoLibraryOverlayColor</key>
	<string>255,255,255,0.6</string>
	<key>PopoverSelectedTextColor</key>
	<string>122,194,255</string>
	<key>PopoverTextColor</key>
	<string>255,255,255</string>
	<key>PopoverTitleColor</key>
	<string>153,166,181</string>
	<key>RecordingOverlayStateTextColor</key>
	<string>218,218,218</string>
	<key>RecordingOverlayTipsTextColor</key>
	<string>132,132,132</string>
	<key>SearchBarFilterButtonTextColor</key>
	<string>160,160,160</string>
	<key>SearchBarScopeBarSelectedTextColor</key>
	<string>255,255,255</string>
	<key>SearchBarScopeBarTextColor</key>
	<string>63,92,132</string>
	<key>SettingsBadgeTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewAbandonedTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewAddSkinTextColor</key>
	<string>193,193,193</string>
	<key>SkinViewButtonTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextDarkColor</key>
	<string>78,87,98</string>
	<key>SkinViewButtonTextLightColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>SkinViewTitleTextColor</key>
	<string>110,110,110</string>
	<key>StatusCountTextColor</key>
	<string>132,153,177</string>
	<key>StatusDetailTabSelectedTextColor</key>
	<string>78,87,98</string>
	<key>StatusDetailTabTextColor</key>
	<string>164,164,164</string>
	<key>StatusMembershipScreenNameTextColor</key>
	<string>255,60,21</string>
	<key>StatusReadTimeTextColor</key>
	<string>128,128,128</string>
	<key>StatusRetweetTextColor</key>
	<string>0,0,0</string>
	<key>StatusScreenNameTextColor</key>
	<string>20,20,20</string>
	<key>StatusSelectedBackgroundGradientColorBottom</key>
	<string>235,237,240</string>
	<key>StatusSelectedBackgroundGradientColorTop</key>
	<string>223,225,228</string>
	<key>StatusSelectedTextColor</key>
	<string>0,0,0</string>
	<key>StatusSourceTextColor</key>
	<string>128,128,128</string>
	<key>StatusStateTextColor</key>
	<string>90,90,90</string>
	<key>StatusTextColor</key>
	<string>0,0,0</string>
	<key>StatusTypeAdvertisementColor</key>
	<string>18,135,217</string>
	<key>StatusTypeGroupVisibleColor</key>
	<string>255,129,0</string>
	<key>StatusTypeMeYouColor</key>
	<string>255,81,20</string>
	<key>StatusTypeMemberStickyColor</key>
	<string>231,34,34</string>
	<key>StatusTypePrivateColor</key>
	<string>103,90,139</string>
	<key>StatusUnreadTimeTextColor</key>
	<string>234,129,0</string>
	<key>TabBarAnimatesSlider</key>
	<true/>
	<key>TabBarBadgeTextColor</key>
	<string>255,255,255</string>
	<key>TabBarSelectedTitleColor</key>
	<string>255,255,255</string>
	<key>TabBarShowsSlider</key>
	<true/>
	<key>TabBarShowsTitle</key>
	<false/>
	<key>TabBarShowsTouchWhenHighlighted</key>
	<true/>
	<key>TabBarTitleColor</key>
	<string>255,255,255</string>
	<key>TableViewCellBackgroundColor</key>
	<string>255,255,255</string>
	<key>TableViewCellDetailTextColor</key>
	<string>61,115,175</string>
	<key>TableViewCellSectionHeaderTextColor</key>
	<string>78,87,98</string>
	<key>TableViewCellSelectedBackgroundGradientColorBottom</key>
	<string>240,240,240</string>
	<key>TableViewCellSelectedBackgroundGradientColorTop</key>
	<string>240,240,240</string>
	<key>TableViewCellSubtitleTextColor</key>
	<string>128,128,128</string>
	<key>TableViewCellTextColor</key>
	<string>0,0,0</string>
	<key>TableViewFooterTextColor</key>
	<string>91,124,163</string>
	<key>TableViewHeaderBackgroundColor</key>
	<string>248,248,248,0.4</string>
	<key>TableViewHeaderTextColor</key>
	<string>91,124,163</string>
	<key>TableViewSeparatorColor</key>
	<string>226,226,226</string>
	<key>TimelineClickableTextColor</key>
	<string>81,108,151</string>
	<key>TimelineClickableTextHighlightedBackgroundColor</key>
	<string>190,223,255</string>
	<key>TimelineEnablesCustomBackground</key>
	<true/>
	<key>TimelineMiniCardTextShadowColor</key>
	<string>255,255,255,0.8</string>
	<key>TimelineType</key>
	<integer>1</integer>
	<key>ToggleButtonTextColor</key>
	<string>255,130,0</string>
	<key>ToolbarButtonTextColor</key>
	<string>119,119,119</string>
	<key>ToolbarShowsTitle</key>
	<false/>
	<key>UserInfoApplistItemNumberColor</key>
	<string>78,87,98</string>
	<key>UserInfoApplistItemTextColor</key>
	<string>103,124,142</string>
	<key>UserInfoBlankRemarkTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoCountTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoDetailTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoMainTextColor</key>
	<string>53,53,53</string>
	<key>UserInfoMemberTextColor</key>
	<string>255,255,136</string>
	<key>UserInfoScreenNameTextColor</key>
	<string>0,0,0</string>
	<key>UserInfoVerifiedCelebrityTextColor</key>
	<string>227,65,1</string>
	<key>UserInfoVerifiedEnterpriseTextColor</key>
	<string>0,74,221</string>
	<key>UserProfileGroupChooserConfirmTextAscentColor</key>
	<string>52,98,59</string>
	<key>UserProfileHeadViewBackgroundColor</key>
	<string>235,237,240</string>
	<key>UserProfileScreenNameLabelTextColor</key>
	<string>255,255,255</string>
	<key>UserProfileScreenNameLabelTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>UserProfileSpecialVerificationLabelTextColor</key>
	<string>255,255,255</string>
	<key>UserSkinColorKeyRelationshipButtonTitleColor</key>
	<string>78,87,98</string>
	<key>WebViewProgressBarFillColor</key>
	<string>77,144,254</string>
	<key>iOS7</key>
	<dict>
		<key>ComposeContentSegmentSelectedTextColor</key>
		<string>93,92,90,0.9</string>
		<key>ComposeContentSegmentUnSelectedTextColor</key>
		<string>255,255,255</string>
		<key>ComposeEmoticonPagecontrolSelectediOS7Color</key>
		<string>178,178,178,0.95</string>
		<key>ComposeEmoticonPagecontroliOS7Color</key>
		<string>178,178,178,0.35</string>
		<key>MainFeedBackgroundColor</key>
		<string>237,237,237</string>
		<key>MessageRecordButtonHighlightedTextColor</key>
		<string>51,51,51</string>
		<key>MusicFeedBackgroundColor</key>
		<string>237,234,234</string>
		<key>NavigationBarItemiOS7TintColor</key>
		<string>244, 136, 0</string>
		<key>PhotosListItemBackgroundHighlighted</key>
		<string>0,0,0,0.04</string>
		<key>TabBarSelectedTitleColor</key>
		<string>255,255,255</string>
		<key>TabBarTitleColor</key>
		<string>255,255,255</string>
		<key>ToolbarButtonTextColor</key>
		<string>119,119,119</string>
	</dict>
	<key>isvip</key>
	<integer>0</integer>
	<key>kSkinMD5Check</key>
	<string>3fd6620d7417f34addecdc784d1954a9</string>
	<key>kSkinPageCoverBackgroundPid</key>
	<string>7c85468fjw1e8yqchu1r6j20hs0hs40q</string>
	<key>navigationbar_arrow_button_background_pushed</key>
	<string>255,255,255</string>
</dict>
</plist>
